{% extends "base_fluid.html" %}

{% block title %}ROS WebUI{% endblock %}

{% block page_content %}

    <h2 class="page-header">节点列表</h2>
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
                <tr>
                  <th>节点名称</th>
                  <th>操作</th>
                </tr>
              </thead>
        {% for node in nodes %}
        <tr>
        <td>{{ node[1:] }}</td><td><a href='rosnode/{{node[1:]|escape}}'>查看</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
