{% extends "base.html" %}

{% block title %}ROS WebUI{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Node <span class="sr-only">(current)</span></a></li>
          <li><a href="/rosservice">Service</a></li>
          <li><a href="/rostopic">Topic</a></li>
          <li><a href="#">Other</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h2 class="page-header">详细信息:i{{servicename}}</h2>
        <pre>
		{% for d in detail %}
			{{ d }}
		{% endfor %}
	</pre>
      </div>
    </div>
</div>
{% endblock %}
